root = "anti_tampering_layer"
log_mode = "warn" # options (case insensitive): disabled, screen, error, warn, info, debug #

[local_layer]
type = "local"

[anti_tampering_layer]
type = "anti_tampering"
hashes_storage = "/"
hash_layer = "ipfs_layer"
data_layer = "local_layer"
algorithm = "sha256"
mode = "file"

[ipfs_layer]
type = "ipfs_opendal"
api_endpoint = "http://127.0.0.1:5001"
root = "/ipfs"
